.text-content {
    white-space: nowrap; 
    max-width: 400px; 
    overflow: hidden;
    text-overflow: ellipsis;
    word-break: break-all;
    /* border: 1px solid #000000; */
    
}

.block-ellipsis {
    display: block;
    display: -webkit-box;
    max-width: 100%;
    height: 1.7rem;
    letter-spacing: 1.5px;
    margin: 0 auto;
    font-size: 14px;
    line-height: 1;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .project-card {
    padding-left: 2rem !important;
    padding-right: 2rem !important;
  }